{% extends 'base.html.twig' %}

{% block body %}

    <div class="container mt-4">
        <h1>Editer une question</h1>
        {{ include ('admin/agence/_form.html.twig', {button: 'Editer'}) }} 
    </div>     

{% endblock %}