{% extends 'base.html.twig' %}

{% block javascripts %}
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
        <script src="{{ asset('script/script.js') }}"></script>
        <script src="{{ asset('script/script3.js') }}"></script>
{% endblock %}


{% block body %}
<div class="jumbotron text-center">
<h1>Bienvenue sur mon Agence</h1>
<p>ce text est un test pour voir si je ne fait pas n'importe quoi, j'écrit ce qui me passe pare la tête pour la présentation de mon site</p>
</div>

    <body>
    
        <h2>Sensibilité</h2>
        <input name="range-left" id="range-left" list="tickmarks" />
        
        <datalist id="tickmarks">
        <option value="512"  >
        <option value="1024" >
        <option value="2048" >
        <option value="4096" >
        <option value="8192" >
        </datalist>
    
        <div class="image1">
            <img src="{{ asset('images\image_apli\log_handi.png') }}" alt="logo" width="350" height="210" />
        </div>
        <!-- partial:index.partial.html -->
        <div id="circle3"></div>
        <div id="circle"></div>
        <div id="circle2"></div>

    </body>  

{% endblock %}