
{% extends 'base.html.twig' %}

{% block javascripts %}
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
        <script src="{{ asset('script/script.js') }}"></script>
        <script src="{{ asset('script/script3.js') }}"></script>
{% endblock %}


{% block body %}
<?php session_start(); ?>
<div class="sensi">
<h2>Sensibilité</h2>
        <input name="range-left" id="range-left" list="tickmarks" />
        
        <datalist id="tickmarks">
        <option value="512"  >
        <option value="1024" >
        <option value="2048" >
        <option value="4096" >
        <option value="8192" >
        </datalist>
</div>

    <body>

    <form action="script\script_shop.php" method="post">
   Answer 1 <input type="radio" name="circle" value="ans1" /><br />
  Answer 2 <input type="radio" name="circle" value="ans2"  /><br />
  Answer 3 <input type="radio" name="circle" value="ans3"  /><br />
  Answer 4 <input type="radio" name="circle" value="ans4"  /><br />
  <input type="submit" value="submit" />
</form>
        <div class="cercle">
        <!-- partial:index.partial.html -->
            <div id="circle3"><?php echo $_SESSION; ?></div>
            <div id="circle"></div>
            <div id="circle2"></div>
        </div>
    </body>  

{% endblock %}