{% extends 'base.html.twig' %}

{% block javascripts %}
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
        <script src="{{ asset('script/script.js') }}"></script>
        <script src="{{ asset('script/script3.js') }}"></script>
{% endblock %}


{% block body %}
<div class="sensi">
<h2>Sensibilité</h2>
        <input name="range-left" id="range-left" list="tickmarks" />
        
        <datalist id="tickmarks">
        <option value="512"  >
        <option value="1024" >
        <option value="2048" >
        <option value="4096" >
        <option value="8192" >
        </datalist>
</div>

    <body>

    <form method="post">
   Answer 1 <input type="radio" name="circle" value="ans1" /><br />
  Answer 2 <input type="radio" name="circle" value="ans2"  /><br />
  Answer 3 <input type="radio" name="circle" value="ans3"  /><br />
  Answer 4 <input type="radio" name="circle" value="ans4"  /><br />
  <input type="submit" value="submit" />
</form>
  <?php
$answer = $_POST['circle'];  
if ($answer == "ans1") {          
    $_VAR="images\properties\cercle-style.png"; 
    exit;
}          
?>
        <div class="cercle">
        <!-- partial:index.partial.html -->
            <div id="circle3"><img src="<?php echo $_VAR; ?>"/></div>
            <div id="circle"></div>
            <div id="circle2"></div>
        </div>
    </body>  

{% endblock %}