{% extends 'base.html.twig' %}

        <link rel="stylesheet" href="{{ asset('css/indexe.css') }}">
{% block javascripts %}
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
        <script src="{{ asset('script/script.js') }}"></script>
        <script src="{{ asset('script/script3.js') }}"></script>
{% endblock %}


{% block body %}
<div class="sensi">
<h2>Sensibilité</h2>
        <input name="range-left" id="range-left" list="tickmarks" />
        
        <datalist id="tickmarks">
        <option value="512"  >
        <option value="1024" >
        <option value="2048" >
        <option value="4096" >
        <option value="8192" >
        </datalist>
</div>

    <body>
        <div class="image1">
            <img src="images\image_apli\log_handi.png" alt="logo" width="350" height="210" />
        </div>
        <!-- partial:index.partial.html -->
        <div id="circle3"></div>
        <div id="circle"></div>
        <div id="circle2"></div>

    </body>  

{% endblock %}