
{% extends 'base.html.twig' %}

{% block javascripts %}
        <script src="{{ asset('script/script.js') }}"></script>
        <script src="{{ asset('script/script3.js') }}"></script>
        <script src="{{ asset('script/script4.js') }}"></script>
{% endblock %}

{% block body %}

<div class="sensi">
<h2>Sensibilité</h2>
    <input name="range-left" id="range-left" list="tickmarks" />
    
    <datalist id="tickmarks">
    <option value="512"  >
    <option value="1024" >
    <option value="2048" >
    <option value="4096" >
    <option value="8192" >
    </datalist>
</div>


<body>
    <div class="container mt-4">
        <div class="jumbotron"> 
            <div class="container">

                <button id="togg1" class="btn btn-primary"><img src="\images\properties\cercle-style.png" height="50" width="50"></button>
                <button id="togg2" class="btn btn-primary"><img src="\images\properties\roue.png" height="50" width="50"></button>
             
                <div class="form_row">
                    <div id="d1">
                        <div id="circle3"><img src="\images\properties\cercle-style.png" alt="" /></div>   
                    </div>
                </div>
                <div class="form_row">
                    <div id="d2">
                        <div id="circle4"><img src="\images\properties\roue.png" alt="" /></div>    
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cercle">
        <div id="circle"></div>
        <div id="circle2"></div>
    </div>

    <p> valeur:<span id="test"></span></p>
    <br>
    <form id="foo">
        <input id="bar" name="bar" type="text" value="50" />
        <input type="submit" value="Send" />
    </form>


</body> 

<script>
// Variable pour maintenir la requête
var request;

// Lier à l'événement submit de notre formulaire
$("#foo").submit(function(event){

    // Empêcher la publication par défaut du formulaire - mettre ici pour travailler en cas d'erreurs
    event.preventDefault();

    // Abandonner toute demande en attente
    if (request) {
        request.abort();
    }

    // configurer des variables locales
    var $form = $(this);

    // Sélectionnons et mettons en cache tous les champs
    var $inputs = $form.find("input, select, button, textarea");

    // Sérialiser les données dans le formulaire
    var serializedData = $form.serialize();

    // Désactivons les entrées pendant la durée de la requête Ajax. 
    // Remarque : nous désactivons les éléments APRÈS la sérialisation des données du formulaire. 
    // Les éléments de formulaire désactivés ne seront pas sérialisés.
    $inputs.prop("disabled", true);

    // Lancez la requête vers /form.php
    request = $.ajax({
        url: "../../src/Controller/HomeController.php",
        type: "post",
        data: serializedData
    });

    // Gestionnaire de rappel qui sera appelé en cas de succès
    request.done(function (response, textStatus, jqXHR){
        // Enregistrez un message dans la console
        console.log("Hooray, it worked!");
    });

    // Gestionnaire de rappel qui sera appelé en cas d'échec
    request.fail(function (jqXHR, textStatus, errorThrown){
        // Enregistrez un message dans la console
        console.error(
            "The following error occurred: "+
            textStatus, errorThrown
        );
    });

    // Gestionnaire de rappel qui sera appelé indépendamment 
    // si la requête a échoué ou réussi
    request.always(function () {
        // Réactiver les entrées
        $inputs.prop("disabled", false);
    });

});
</script>



<style>
.pagination {
    justify-content: center;
}
</style>

<script>
    let togg1 = document.getElementById("togg1");
    let togg2 = document.getElementById("togg2");
    let d1 = document.getElementById("d1");
    let d2 = document.getElementById("d2");

    //on cache tout les cercles
    d2.style.display = "none";
    d1.style.display = "none";

    //si le cercle id=d1 est appeller alors l'affiche en cachant tout les autre cercle
    togg1.addEventListener("click", () => {
    if(getComputedStyle(d1).display != "none"){
        d1.style.display = "none";
    } else {
        d1.style.display = "block";
        d2.style.display = "none";
    }
    })

    function togg(){
    if(getComputedStyle(d2).display != "none"){
        d2.style.display = "none";
    } else {
        d2.style.display = "block";
        d1.style.display = "none";
    }
    };
    togg2.onclick = togg;
</script>

{% endblock %}