{% extends 'base.html.twig' %}

{% block body %}
<div class="jumbotron text-center">
<h1>Bienvenue sur mon Agence</h1>
<p>ce text est un test pour voir si je ne fait pas n'importe quoi, j'écrit ce qui me passe pare la tête pour la présentation de mon site</p>
</div>

<?php
    
    <header>
        <div class="image2">
            <img src="images/bander.PNG" alt="banniere" width="650" height="200" />
        </div>
    </header>
    
    
    <body>
    
    <h2>Sensibilité</h2>
    <input name="range-left" id="range-left" list="tickmarks" />
    
    <datalist id="tickmarks">
      <option value="512"  label="1">
      <option value="1024" label="1">
      <option value="2048" label="1">
      <option value="4096" label="1">
      <option value="8192" label="1">
    </datalist>
    
        <div class="image1">
            <img src="images/logo1.3.PNG" alt="logo" width="350" height="210" />
        </div>
        <!-- partial:index.partial.html -->
        <div id="circle3"></div>
        <div id="circle"></div>
        <div id="circle2"></div>
    
        <!-- partial -->
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
        <script src="./script.js"></script>
        <script src="./script3.js"></script>
    
    </body>  
?>

{% endblock %}