{% extends 'base.html.twig' %}

{% block javascripts %}
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
        <script src="{{ asset('script/script.js') }}"></script>
        <script src="{{ asset('script/script3.js') }}"></script>
{% endblock %}


{% block body %}
<div class="sensi">
<h2>Sensibilité</h2>
        <input name="range-left" id="range-left" list="tickmarks" />
        
        <datalist id="tickmarks">
        <option value="512"  >
        <option value="1024" >
        <option value="2048" >
        <option value="4096" >
        <option value="8192" >
        </datalist>
</div>

    <body>

    <form action="cible.php" method="post">
  <p>Veuillez choisir la meilleure méthode pour vous contacter :</p>
  <div>
    <input type="radio" id="contactChoice1"
     name="circle" value="piquant">
    <label for="contactChoice1">piquant</label>

    <input type="radio" id="contactChoice2"
     name="circle" value="plat">
    <label for="contactChoice2">plat</label>

    <input type="radio" id="contactChoice3"
     name="circle" value="pourri">
    <label for="contactChoice3">pourri</label>
  </div>
  <div>
    <button type="submit">Envoyer</button>
  </div>
</form>

        <div class="cercle">
        <!-- partial:index.partial.html -->
            <div id="circle3"><img src="images\properties\cercle-style.png"></div>
            <div id="circle"></div>
            <div id="circle2"></div>
        </div>
    </body>  

{% endblock %}