/*----------------------- scripte des cercles -------------------*/

  #circle {
   
    width: 400px;
    height:400px;
    position: absolute;
    border-radius:50%;
    text-align: center;
    top:33%;
    transform:translateX(0%);
    background-color: orange;
    opacity:100%;
    transition: width 2s ease-out;
    transition: height 0s ease-out;
  }

  #circle2 {
    width: 400px;
    height:400px;
    position: absolute;
    border-radius:50%;
    text-align: center;
    top:33%;
    background-color: #E7E3EB;
    /*animation: colorchange 30s infinite;*/
  }

  #circle3 {
    border-radius:50%;
    text-align: center;
    top:33%;
    transform:translateX(0%);
    opacity:100%;
    transition: width 0s ease-out;
    transition: height 0s ease-out;
  }
  
  #circle4 {
    border-radius:50%;
    text-align: center;
    top:33%;
    transform:translateX(0%);
    opacity:100%;
    transition: width 0s ease-out;
    transition: height 0s ease-out;
  }
  @keyframes colorchange
      {
        0%   {background: violet;}
        25%  {background: yellow;}
        50%  {background: blue;}
        75%  {background: lightgreen;}
        100% {background: violet;}
      }

/*----------------------- couleur et police du texte -------------------*/

body {
  font-family: 'Trebuchet MS', Arial, sans-serif;
  color: #1E99EB;
  background: #fff;
    margin: 0;
    text-align: center;
}
.cercle {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cercle img{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
 header {
   background-color: #E7E3EB;
   padding-bottom: 40px;
 }
.image1 {
  float: left;
  padding-top: 315px;
  padding-left: 317px;
  position: fixed;
  z-index: 2;
}

.image2 {
  float: top;
  padding-top: 40px;
}

/*---------------------------- curseur range ------------------------------*/

/*---------------------------- base ------------------------------*/


.piece-milieu{
  padding-left: 30px;
  text-decoration: none;
}

/*---------------------------- base ------------------------------*/
.sensi{
  text-align: center;
  padding-top: 50px;
}

.img{
  display: none;
}

#head {
  text-align: center 
}

.corpsG {
  width: 50%;
  float:left;
  padding-top: 50px;
}

.corpsG img {
  width : 40%;
  height : 40%;
  display: block;
  margin-left: auto;
  margin-right: auto 
}

.corpsG button {
  margin-top: 12px;
  display: block;
  margin-left: auto;
  margin-right: auto 
}

.corpsD {
  width: 50%;
  float: right;
  padding-top: 50px;
}

.corpsD img {

  width : 40%;
  height : 40%;
  display: block;
  margin-left: auto;
  margin-right: auto 
}

.corpsD button {
  margin-top: 12px;
  display: block;
  margin-left: auto;
  margin-right: auto 
}

.nav-link-1 {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: .5rem 1rem;
}