{% extends 'base.html.twig' %}

{% block body %}
<div id="head">
<h1>Choisis ton cercle!</h1>
</div>

<div class="corpsG">
<img src="\images\properties\cercle-style.png" alt="" />
</div>
<div class="corpsD">
<img src="\images\properties\cercle-style.png" alt="" />
</div>

{% endblock %}