{% extends 'base.html.twig' %}

{% block body %}
<div id="head" style="padding-top:30px;">
<h1>Choisis ton cercle !</h1>
</div>

<div class="corpsG">
<img src="\images\properties\cercle-style.png" alt="" style="height= 300px; weidht:300px"/>
    <button name="button" class="btn btn-primary">Acheter </button>
</div>
<div class="corpsD">
<img src="\images\properties\roue.png" alt="" style="height= 300px; weidht:300px"/>
    <button name="button" class="btn btn-primary">Acheter </button>
</div>



<div class="corpsG">
<img src="\images\properties\ballon.png" alt="" style="height= 300px; weidht:300px"/>
    <button name="button" class="btn btn-primary">Acheter</button>
</div>
<div class="corpsD">
<img src="\images\properties\piece_cercle.png" alt="" style="height= 300px; weidht:300px"/>
    <button name="button" class="btn btn-primary">Acheter </button>
</div>
{% endblock %}