{% extends 'base.html.twig' %}

{% block body %}
<h1>test</h1>
 <?php $_VAR="images\properties\cercle-style.png"; ?>
            <div id="circle3"><img src="<?php echo $_VAR ;?>" /></div>
{% endblock %}