{% extends 'base.html.twig' %}

{% block body %}
<div id="head">
<h1>Choisis ton cercle!</h1>
</div>

<div class="corpsG">
<img src="\images\properties\cercle-style.png" alt="" />
    <button name="button">Acheter </button>
</div>
<div class="corpsD">
<img src="\images\properties\roue.png" alt="" />
    <button name="button">Acheter </button>
</div>



<div class="corpsG">
<img src="\images\properties\ballon.png" alt="" />
    <button name="button">Acheter</button>
</div>
<div class="corpsD">
<img src="\images\properties\piece_cercle.png" alt="" />
    <button name="button">Acheter </button>
</div>
{% endblock %}