<form method="post" action="{{ path('agence_delete', {'id': agence.id}) }}" onsubmit="return confirm('êtes vous vraiment sûr ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ agence.id) }}">
    <button class="btn">Delete</button>
</form>
